@page "/allmovies"


<section style="background:#f8f8ff">

    <div class="mt-5">

        <div class="d-flex flex-wrap justify-content-evenly">
            <div class="flex-me">
                <div class="space" style="max-width:250px; ">
                    <a href="/action" class="links">
                        <img src="/Images/Small/First_blood.jpeg" alt="" class="img-fluid card-img-top" style="height:350px;">
                        <div class="card-body">
                            <h4 class="card-title">Action</h4>
                            <small class="text-muted">Last Updated 2019/12/20</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                exercitationem.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex-me">
                <div class="space" style="max-width:250px;">
                    <a href="/drama" class="links">
                        <img src="/Images/Small/green_mile.png" alt="" class="img-fluid card-img-top" style="height:350px;">
                        <div class="card-body">
                            <h4 class="card-title">Drama</h4>
                            <small class="text-muted">Last Updated 2021/03/22</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                exercitationem.
                            </p>
                        </div>
                    </a>
                </div>
            </div>


            <div class="flex-me">
                <div class="space" style="max-width:250px;">
                    <a href="/sci-fi" class="links">
                        <img src="/Images/Small/star_wars.png" alt="" class="img-fluid card-img-top" style="height:350px;">
                        <div class="card-body links">
                            <h4 class="card-title">Sci-Fi</h4>
                            <small class="text-muted">Last Updated   2022/05/23</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                exercitationem.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            @*second row*@


            <div class="flex-me">
                <div class="space" style="max-width:250px;">
                    <a href="/documentary" class="links">
                        <img src="/Images/Documentary/Free_Solo.png" alt="" class="img-fluid card-img-top" style="height:350px;">
                        <div class="card-body">
                            <h4 class="card-title">Documentary</h4>
                            <small class="text-muted">Last Updated 2019/12/20</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                exercitationem.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="flex-me">
                <div class="space" style="max-width:250px;">
                    <a href="/comedy" class="links">
                        <img src="/Images/Comedy/Superbad_Poster.png" alt="" class="img-fluid card-img-top" style="height:350px;">
                        <div class="card-body">
                            <h4 class="card-title">Comedy</h4>
                            <small class="text-muted">Last Updated 2021/03/22</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                exercitationem.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="flex-me">
                <div class=" space" style="max-width:250px;">
                    <a href="/animé" class="links">
                        <img src="/Images/Animé/Spirited_Away_Japanese_poster.png" alt="" class="img-fluid card-img-top" style="height:350px;">
                        <div class="card-body links">
                            <h4 class="card-title">Animé</h4>
                            <small class="text-muted">Last Updated   2022/05/23</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                exercitationem.
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            @*third row*@
            <div class="flex-me">
                <div class=" space" style="max-width:250px;">
                    <a href="/horror" class="links">
                        <img src="/Images/Horror/Exorcist_ver2.jpg" alt="" class="img-fluid card-img-top" style="height:350px;">
                        <div class="card-body">
                            <h4 class="card-title">Horror</h4>
                            <small class="text-muted">Last Updated 2019/12/20</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                exercitationem.
                            </p>
                        </div>
                    </a>
                </div>
            </div>


            <div class="flex-me">
                <div class=" space" style="max-width:250px;">
                    <a href="/thriller" class="links">
                        <img src="/Images/Thriller/The_Silence_of_the_Lambs_poster.jpg" alt="" class="img-fluid card-img-top" style="height:350px;">
                        <div class="card-body">
                            <h4 class="card-title">Thriller</h4>
                            <small class="text-muted">Last Updated 2021/03/22</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                exercitationem.
                            </p>
                        </div>
                    </a>
                </div>
            </div>


            <div class="flex-me">
                <div class=" space" style="max-width:250px;">
                    <a href="/war" class="links">
                        <img src="/Images/War/Dunkirk_Film_poster.jpg" alt="" class="img-fluid card-img-top" style="height:350px;" >
                        <div class="card-body links">
                            <h4 class="card-title">War</h4>
                            <small class="text-muted">Last Updated   2022/05/23</small>
                            <hr>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                exercitationem.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
</section>



