@page "/genres/index"
@attribute [Authorize(Roles = StaticDetails.Role_Admin)]
@inject IGenreServiceClient genres


<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                Genres
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                             <td>GenreName</td>
                             <td>GenreUrl</td>
                             <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var genre in genres.Genres)
                       {
                           <tr>
                               <td>@genre.GenreName</td>
                               <td>@genre.GenreUrl</td>
                               <td>
                                   <a class="btn btn-primary" href="/genres/delete/@genre.GenreUrl">Delete</a>
                               </td>
                           </tr>
                       }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
     <div class="col-lg-5">
        <div class="card-body">
            <CreateGenre></CreateGenre>
        </div>
    </div>
</div>



@code {
    protected override async Task OnInitializedAsync()
    {
         await genres.GetAllGenres();
    }
}
